<script setup>
import { ref, onMounted} from 'vue';
import {useRoute} from "nuxt/app";

const route = useRoute();
const raceName = ref('');
const circuitName = ref('');
const locality = ref('');
const country = ref('');
const raceStart = ref('');
const raceDate = ref('');
const drivers = ref([]);
const driverTeam = ref([]);

onMounted(async () => {
  try {
    const response = await fetch(`https://danhughestest.co.uk/fetchResult/${route.params.id}`);
    const xmlString = await response.text();

    const parser = new DOMParser();
    const xmlDoc = parser.parseFromString(xmlString, 'application/xml');

    raceName.value = xmlDoc.querySelector('RaceTable Race RaceName').textContent;
    circuitName.value = xmlDoc.querySelector('RaceTable Race Circuit CircuitName').textContent;
    locality.value = xmlDoc.querySelector('RaceTable Race Circuit Location Locality').textContent;
    country.value = xmlDoc.querySelector('RaceTable Race Circuit Location Country').textContent;
    raceStart.value = xmlDoc.querySelector('RaceTable Race Time').textContent;
    raceDate.value = xmlDoc.querySelector('RaceTable Race Date').textContent;

    drivers.value = Array.from(xmlDoc.querySelectorAll('Race ResultsList Result Driver')).map((driver) => {
      const givenName = driver.querySelector('GivenName').textContent;
      const familyName = driver.querySelector('FamilyName').textContent;
      return `${givenName} ${familyName}`;
    });

    console.log(drivers)

    driverTeam.value = Array.from(xmlDoc.querySelectorAll('Race ResultsList Result Constructor')).map((constructorNode) => {
      return constructorNode.getAttribute('constructorId');
    });

  } catch (error) {
    console.error('Error fetching or parsing data:', error);
  }
});

</script>

<template>
  <main class="lg:pl-72">
    <div class=" flex w-full bg-candy-red justify-center items-center h-16">
      <div class="flex w-full items-center justify-center">
        <h1 class="text-2xl text-white font-bold">F1 Wiki</h1>
      </div>
    </div>

    <!-- Top intro section -->
    <div class="flex w-full justify-center mt-6 text-white">
      <div class="flex w-4/5 bg-white rounded-2xl justify-center items-center h-16 border-2 border-candy-red">
        <h1 class="font-bold md:text-2xl text-xl text-candy-red">{{raceName}} Race Results</h1>
      </div>
    </div>

    <!-- Race Information section -->
    <div class="flex flex-wrap w-full justify-center items-center mt-6">
      <div v-for="(driver, index) in drivers" :key="index" class="flex md:w-4/5 w-full rounded-xl justify-center items-center">
        <div v-if="index < 20"
             :class="{'bg-blue-950': driverTeam[index] === 'red_bull', 'bg-ferrari-red': driverTeam[index] === 'ferrari', 'bg-aston-green': driverTeam[index] === 'aston_martin', 'bg-black': driverTeam[index] === 'mercedes', 'bg-alfa-red': driverTeam[index] === 'alfa', 'bg-alpine-light-blue': driverTeam[index] === 'alpine', 'bg-williams-blue': driverTeam[index] === 'williams', 'bg-alpha-gray': driverTeam[index] === 'alphatauri', 'bg-haas-red': driverTeam[index] === 'haas', 'bg-mclaren-orange': driverTeam[index] === 'mclaren', 'mt-8': index === 3, 'border-4 p-8 border-yellow-400': index === 0, 'border-4 p-8 border-gray-400': index === 1, 'border-4 p-8 border-bronze-normal': index === 2}"
             class="flex w-4/5 justify-between items-center h-14 border border-black md:px-20 rounded-2xl text-white my-1">
          <div v-if="index === 0" class="flex rounded-full bg-white md:h-12 h-8 md:w-12 w-8 -m-2 justify-center items-center bg-yellow-50 border border-yellow-300">
            <img src="/img/gold_trophy.png" class="md:h-8 h-6">
          </div>
          <div v-if="index === 1" class="flex rounded-full bg-white md:h-10 h-8 md:w-10 w-8 -m-1 justify-center items-center bg-gray-100 border border-gray-400">
            <img src="/img/silver_trophy.png" class="md:h-6 h-6">
          </div>
          <div v-if="index === 2" class="flex rounded-full bg-white h-8 w-8 justify-center items-center bg-bronze-light border border-bronze-normal">
            <img src="/img/bronze_trophy.png" class="md:h-4 h-6">
          </div>
          <h1 v-if="index > 2"
              class="border border-white p-1 rounded-xl md:ml-0 ml-2 md:text-base text-sm font-bold">P{{index + 1}}. </h1>

          <h1 class="md:text-xl text-sm">{{driver}}</h1>
          <h1 :class="{'md: pr-0 pr-4': index > 2}"
              class="md:text-base text-xs">{{ driverTeam[index] === 'red_bull' ? 'Red Bull' : (driverTeam[index] === 'mercedes' ? 'Mercedes' : (driverTeam[index]) === 'haas' ? 'Haas' : (driverTeam[index] === 'ferrari' ? 'Ferrari' : (driverTeam[index] === 'aston_martin' ? 'Aston Martin' : (driverTeam[index] === 'alfa' ? 'Alfa Romeo' : (driverTeam[index] === 'alpine' ? 'Alpine' : (driverTeam[index] === 'williams' ? 'Williams' : (driverTeam[index] === 'alphatauri' ? 'Alpha Tauri' : (driverTeam[index] === 'haas' ? 'Haas' : (driverTeam[index] === 'mclaren' ? 'Mclaren' : 'Team'))))))))) }}</h1>

        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "[id]"
}
</script>

<style scoped>

</style>