<script setup>

import { ref, computed, onMounted } from 'vue';

const raceName = ref([]);
const raceDate = ref([]);
const raceTime = ref([]);
const circuitId = ref([]);
const year = new Date().getFullYear();

onMounted(async () => {
  try {
    const response = await fetch('https://danhughestest.co.uk/fetchSchedule');
    const xmlString = await response.text();

    const parser = new DOMParser();
    const xmlDoc = parser.parseFromString(xmlString, 'application/xml');

    raceName.value = Array.from(xmlDoc.querySelectorAll('Race')).map((race) => {
      return race.querySelector('Circuit CircuitName').textContent;
    });
    raceDate.value = Array.from(xmlDoc.querySelectorAll('Race')).map((race) => {
      return race.querySelector('Date').textContent;
    });
    raceTime.value = Array.from(xmlDoc.querySelectorAll('Race')).map((race) => {
      return race.querySelector('Time').textContent;
    });
    circuitId.value = Array.from(xmlDoc.querySelectorAll('Circuit')).map((circuit) => {
      return circuit.getAttribute('circuitId');
    });
    console.log(circuitId);

  } catch (error) {
    console.error('Error fetching or parsing data:', error);
  }
});

const pastRaces = computed(() => {
  const now = new Date();
  return raceName.value.filter((name, index) => {
    const raceDateTime = new Date(`${raceDate.value[index]}T${raceTime.value[index]}`);
    return raceDateTime < now;
  });
});

</script>


<template>
  <main class="lg:pl-72">
    <div class=" flex flex-wrap w-full bg-candy-red justify-center items-center h-16">
      <div class="flex w-full items-center justify-center">
        <h1 class="text-2xl text-white font-bold">F1 Wiki</h1>
      </div>
    </div>
    <!-- Top intro section -->
    <div class="flex w-full justify-center mt-6 text-white">
      <div class="flex w-4/5 bg-white rounded-2xl justify-center items-center h-16 border-2 border-candy-red">
        <h1 class="font-bold md:text-2xl text-xl text-candy-red">{{year}} Formula 1 Race Results</h1>
      </div>
    </div>

    <!-- List of Constructors -->
    <div class="flex flex-wrap justify-center items-center mt-6">
      <!-- Loop -->
      <div v-for="(name, index) in pastRaces" :key="index" class="flex justify-center items-center w-4/5 bg-candy-red hover:bg-red-500 rounded-xl my-4">
        <div class="grid grid-cols-5 w-full text-white">
          <div class="md:col-span-2 col-span-3">
            <div class="flex w-full h-full justify-center items-center">
              <img :src="`/img/${circuitId[index]}.png`" class="md:h-36 h-24" alt="Circuit Image">
            </div>
          </div>
          <div class="col-span-2">
            <NuxtLink :to="`/results/${index}`">
              <div class="flex w-full justify-center items-center h-44">
                <h1 class="md:text-xl font-bold">
                  {{ name }}
                </h1>
              </div>
            </NuxtLink>
          </div>
          <div class="md:col-span-1 col-span-5">
            <div class="flex flex-wrap w-full h-full justify-center items-center md:pb-0 pb-2">
              <div class="flex w-full justify-center items-center">
                <h1 class="md-text-base text-sm">
                  {{ raceDate[index] }}
                </h1>
              </div>
              <div class="flex w-full justify-center items-center">
                <h1 class="md-text-base text-sm">
                  {{ raceTime[index] }}
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </main>
</template>

<script>
export default {
  name: "index"
}
</script>

<style scoped>

</style>