<script setup>
import { ref, onMounted, watch} from 'vue';
import {useRoute} from "nuxt/app";

const route = useRoute();
const constructorName = ref('');
const constructorNationality = ref('');
const constructorId = ref('');
let bgColour = '';
const dataLoaded = ref('');

onMounted(async () => {
  try {
    const response = await fetch(`https://danhughestest.co.uk/fetchConstructors/${route.params.id}`);

    const xmlString = await response.text();

    const parser = new DOMParser();
    const xmlDoc = parser.parseFromString(xmlString, 'application/xml');

    constructorName.value = xmlDoc.querySelector('Name').textContent;
    constructorNationality.value = xmlDoc.querySelector('Nationality').textContent;
    constructorId.value = xmlDoc.querySelector('Constructor').getAttribute('constructorId');
    dataLoaded.value = true;
  } catch (error) {
    console.error('Error fetching or parsing data:', error);
  }
});

watch(dataLoaded, () => {
  if (dataLoaded) {
    if (constructorName.value === 'Mercedes') {
      bgColour= 'bg-black';
    } else if (constructorName.value === 'Red Bull') {
      bgColour= 'bg-blue-950';
    } else if (constructorName.value === 'Williams') {
      bgColour= 'bg-williams-blue';
    } else if (constructorName.value === 'Alfa Romeo') {
      bgColour= 'bg-alfa-red';
    } else if (constructorName.value === 'Alpine F1 Team') {
      bgColour= 'bg-alpine-light-blue';
    } else if (constructorName.value === 'McLaren') {
      bgColour= 'bg-mclaren-orange';
    } else if (constructorName.value === 'Aston Martin') {
      bgColour= 'bg-aston-green';
    } else if (constructorName.value === 'Ferrari') {
      bgColour = 'bg-red-600';
    } else if (constructorName.value === 'Haas F1 Team') {
      bgColour= 'bg-haas-red';
    } else if (constructorName.value === 'AlphaTauri') {
      bgColour= 'bg-alpha-gray';
    }
    console.log(bgColour);
  }
});

</script>

<template>
  <main class="lg:pl-72">
    <div class=" flex w-full bg-candy-red justify-center items-center h-16">
      <div class="flex w-full items-center justify-center">
        <h1 class="text-2xl text-white font-bold">F1 Wiki</h1>
      </div>
    </div>
    <!-- Constructor Card -->
    <div class="flex w-full justify-center items-center mt-6">
      <div :class="['flex', 'justify-center', 'items-center', 'w-4/5', bgColour, 'rounded-2xl']">
        <div class="grid grid-cols-1 w-full text-white">
          <div class="col-span-1">
            <div class="flex w-full justify-center items-center h-24">
              <img :src="`/img/${constructorId}.png`" class="h-16">
            </div>
          </div>
          <div class="col-span-1">
            <div class="flex w-full justify-center items-center h-24">
              <h1 class="text-4xl font-bold">
                {{ constructorName }}
              </h1>
            </div>
          </div>
          <div class="col-span-1">
            <div class="flex w-full justify-center items-center h-24">
              <h1 class="text-xl font-bold">
                {{ constructorNationality }}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "[id]"
}
</script>

<style scoped>

</style>