<script setup>
import { ref, onMounted} from 'vue';



const constructors = ref('');
const year = new Date().getFullYear();


onMounted(async () => {
  try {
    const response = await fetch(`https://danhughestest.co.uk/fetchConstructors`);
    const xmlString = await response.text();

    const parser = new DOMParser();
    const xmlDoc = parser.parseFromString(xmlString, 'application/xml');

    constructors.value = Array.from(xmlDoc.querySelectorAll('ConstructorTable Constructor')).map((constructorElement) => {
      const constructorId = constructorElement.getAttribute('constructorId');
      const name = constructorElement.querySelector('Name').textContent;
      const nationality = constructorElement.querySelector('Nationality').textContent;

      return {
        constructorId,
        name,
        nationality
      };
    });

    console.log(constructors);

  } catch (error) {
    console.error('Error fetching or parsing data:', error);
  }
});

</script>

<template>
  <main class="lg:pl-72">
    <div class=" flex flex-wrap w-full bg-candy-red justify-center items-center h-16">
      <div class="flex w-full items-center justify-center">
        <h1 class="text-2xl text-white font-bold">F1 Wiki</h1>
      </div>
    </div>

    <!-- Top intro section -->
    <div class="flex w-full justify-center mt-6 text-white">
      <div class="flex w-4/5 bg-white rounded-2xl justify-center items-center h-16 border-2 border-candy-red">
        <h1 class="font-bold md:text-2xl text-xl text-candy-red">{{year}} Formula 1 Constructors</h1>
      </div>
    </div>


    <!-- List of Constructors -->
    <div class="flex flex-wrap justify-center items-center mt-6">
      <!-- Constructor Loop -->
      <div v-for="(constructor, index) in constructors" :key="index"
           :class="{'bg-blue-950 hover:bg-blue-900': constructor.constructorId === 'red_bull', 'bg-ferrari-red hover:bg-red-500': constructor.constructorId === 'ferrari', 'bg-aston-green hover:bg-green-800': constructor.constructorId === 'aston_martin', 'bg-black hover:bg-gray-800': constructor.constructorId === 'mercedes', 'bg-alfa-red hover:bg-red-500': constructor.constructorId === 'alfa', 'bg-alpine-light-blue hover:bg-blue-400': constructor.constructorId === 'alpine', 'bg-williams-blue hover:bg-blue-300': constructor.constructorId === 'williams', 'bg-alpha-gray hover:bg-blue-900': constructor.constructorId === 'alphatauri', 'bg-haas-red hover:bg-red-400': constructor.constructorId === 'haas', 'bg-mclaren-orange hover:bg-orange-400': constructor.constructorId === 'mclaren'}"
           class="flex justify-center items-center w-10/12 rounded-xl my-2">
        <div class="grid grid-cols-5 w-full text-white">
          <div class="col-span-2">
            <NuxtLink :to="`/constructors/${constructor.constructorId}`">
              <div class="flex w-full justify-center items-center h-24">
                <h1 class="md:text-4xl text-lg font-bold">
                  {{ constructor.name }}
                </h1>
              </div>
            </NuxtLink>
          </div>
          <div class="col-span-2">
            <div class="flex w-full justify-center items-center h-full">
              <img :src="`/img/${constructor.constructorId}.png`" class="md:h-16 h-10">
            </div>
          </div>
          <div class="col-span-1">
          <div class="flex w-full justify-center items-center h-24">
            <h1 class="md:text-xl text-sm font-bold">
              {{ constructor.nationality }}
            </h1>
          </div>
        </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "index"
}
</script>

<style scoped>

</style>