<script setup>
  import { ref, onMounted, watch} from 'vue';
  import {useRoute} from "nuxt/app";

  const route = useRoute();

  //Define the dynamic values
  const raceName = ref('');
  const circuitName = ref('');
  const locality = ref('');
  const country = ref('');
  const raceStart = ref('');
  const raceDate = ref('');
  const qualStart = ref('');
  const qualDate = ref('');
  const pOneStart = ref('');
  const pOneDate = ref('');
  const pTwoStart = ref('');
  const pTwoDate = ref('');
  const pThreeStart = ref('');
  const pThreeDate = ref('');
  const circuitId = ref('');

  //Collect the xml from the api and put it into a DOM object
  onMounted(async () => {
    try {
      const response = await fetch(`https://danhughestest.co.uk/fetchRace/${route.params.id}`);
      const xmlString = await response.text();
      const parser = new DOMParser();
      const xmlDoc = parser.parseFromString(xmlString, 'application/xml');

      raceName.value = xmlDoc.querySelector('Race RaceName').textContent;
      circuitName.value = xmlDoc.querySelector('Race CircuitName').textContent;
      locality.value = xmlDoc.querySelector('Race Location Locality').textContent;
      country.value = xmlDoc.querySelector('Race Location Country').textContent;
      circuitId.value = xmlDoc.querySelector('Race Circuit').getAttribute('circuitId');

      // Reformat the date from YYYY-MM-DD to DD/MM
      const reformatDate = (date) => {
        const [year, month, day] = date.split('-');
        return `${day}/${month}`;
      };

      // Remove the 'Z' from the time
      const reformatTime = (time) => {
        return time.replace(':00Z', '');
      };

      raceDate.value = reformatDate(xmlDoc.querySelector('Race Date').textContent);
      qualDate.value = reformatDate(xmlDoc.querySelector('Race Qualifying Date').textContent);
      pOneDate.value = reformatDate(xmlDoc.querySelector('Race FirstPractice Date').textContent);
      pTwoDate.value = reformatDate(xmlDoc.querySelector('Race SecondPractice Date').textContent);
      pThreeDate.value = reformatDate(xmlDoc.querySelector('Race ThirdPractice Date').textContent);

      raceStart.value = reformatTime(xmlDoc.querySelector('Race Time').textContent);
      qualStart.value = reformatTime(xmlDoc.querySelector('Race Qualifying Time').textContent);
      pOneStart.value = reformatTime(xmlDoc.querySelector('Race FirstPractice Time').textContent);
      pTwoStart.value = reformatTime(xmlDoc.querySelector('Race SecondPractice Time').textContent);
      pThreeStart.value = reformatTime(xmlDoc.querySelector('Race ThirdPractice Time').textContent);

    } catch (error) {
      console.error('Error fetching or parsing data:', error);
    }
  });
</script>

<template>
  <main class="lg:pl-72">
    <!-- F1 header banner -->
    <div class=" flex w-full bg-candy-red justify-center items-center h-16">
      <div class="flex w-full items-center justify-center">
        <h1 class="text-2xl text-white font-bold">F1 Wiki</h1>
      </div>
    </div>

    <!-- Top Banner -->
    <div class="flex w-full justify-center mt-6 text-white">
      <div class="flex w-4/5 bg-white rounded-2xl justify-center items-center h-16 border-2 border-candy-red">
        <h1 class="font-bold text-2xl text-candy-red">{{raceName}}</h1>
      </div>
    </div>

    <!-- Race course image and info section -->
    <div class="flex w-full justify-center items-center">
      <div class="grid grid-cols-3 mt-4">
        <div class="md:col-span-2 col-span-3">
          <div class="flex flex-wrap w-full justify-center items-center pt-6">
            <div class="flex flex-wrap w-4/5 bg-gray-50 justify-center items-center border-2 border-candy-red py-6 rounded-2xl">
              <div class="flex w-4/12 justify-center items-center">
                <h1 class="text-2xl text-candy-red">
                  Race Start:
                </h1>
              </div>
              <div class="flex w-7/12 justify-center items-center">
                <h1 class="">
                  {{raceStart}}, {{raceDate}}
                </h1>
              </div>
            </div>
            <div class="flex flex-wrap w-4/5 bg-gray-50 justify-center items-center border-2 border-candy-red py-6 mt-4 rounded-2xl">
              <div class="flex w-4/12 justify-center items-center">
                <h1 class="text-xl text-candy-red">
                  Qualifying Start:
                </h1>
              </div>
              <div class="flex w-7/12 justify-center items-center">
                <h1 class="">
                  {{qualStart}}, {{qualDate}}
                </h1>
              </div>
            </div>
            <div class="flex flex-wrap w-4/5 bg-gray-50 justify-center items-center border-2 border-candy-red py-6 mt-4 rounded-2xl">
              <div class="flex w-4/12 justify-center items-center">
                <h1 class="text-lg text-candy-red">
                  Practice Three Start:
                </h1>
              </div>
              <div class="flex w-7/12 justify-center items-center">
                <h1 class="">
                  {{pThreeStart}}, {{pThreeDate}}
                </h1>
              </div>
            </div>
            <div class="flex flex-wrap w-4/5 bg-gray-50 justify-center items-center border-2 border-candy-red py-6 mt-4 rounded-2xl">
              <div class="flex w-4/12 justify-center items-center">
                <h1 class="text-lg text-candy-red">
                  Practice Two Start:
                </h1>
              </div>
              <div class="flex w-7/12 justify-center items-center">
                <h1 class="">
                  {{pTwoStart}}, {{pTwoDate}}
                </h1>
              </div>
            </div>
            <div class="flex flex-wrap w-4/5 bg-gray-50 justify-center items-center border-2 border-candy-red py-6 mt-4 rounded-2xl">
              <div class="flex w-4/12 justify-center items-center">
                <h1 class="text-lg text-candy-red">
                  Practice One Start:
                </h1>
              </div>
              <div class="flex w-7/12 justify-center items-center">
                <h1 class="">
                  {{pOneStart}}, {{pOneDate}}
                </h1>
              </div>
            </div>

          </div>
        </div>
        <div class="md:col-span-1 col-span-3 md:mr-2 md:mx-0 mx-6">
          <div class="flex w-full h-80 items-center justify-center border-2 border-candy-red rounded-2xl mt-6 md:-ml-6">
            <img :src="`/img/${circuitId}.png`" class="h-70">
          </div>
        </div>
      </div>
    </div>

  </main>
</template>

<script>
export default {
  name: "[id]"
}
</script>

<style scoped>

</style>