@font-face {
    font-family: 'RacingSansOne';
    src: url("./fonts/RacingSansOne-Regular.ttf") format('truetype');
}


h1 {
    font-family: 'RacingSansOne', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


