<script setup>
import { ref, onMounted} from 'vue';
import {useRoute} from "nuxt/app";

const drivers = ref([]);
const constructors = ref([]);
const year = new Date().getFullYear();

onMounted(async () => {
  try {
    const response = await fetch(`https://danhughestest.co.uk/fetchConstructorStandings`);
    const xmlString = await response.text();

    const parser = new DOMParser();
    const xmlDoc = parser.parseFromString(xmlString, 'application/xml');

    constructors.value = Array.from(xmlDoc.querySelectorAll('StandingsTable StandingsList ConstructorStanding')).map((constructorStanding) => {
      const name = constructorStanding.querySelector('Constructor Name').textContent;
      const constId = constructorStanding.querySelector('Constructor').getAttribute('constructorId');
      const constPoints = constructorStanding.getAttribute('points');
      const constWins = constructorStanding.getAttribute('wins');

      return {
        name,
        constId,
        constPoints,
        constWins
      };
    });

  } catch (error) {
    console.error('Error fetching or parsing data:', error);
  }

  try {
    const response = await fetch(`https://danhughestest.co.uk/fetchDriverStandings`);
    const xmlString = await response.text();

    const parser = new DOMParser();
    const xmlDoc = parser.parseFromString(xmlString, 'application/xml');

    drivers.value = Array.from(xmlDoc.querySelectorAll('StandingsTable StandingsList DriverStanding')).map((driverStanding) => {
      const familyName = driverStanding.querySelector('Driver FamilyName').textContent;
      const constructorId = driverStanding.querySelector('Constructor').getAttribute('constructorId');
      const points = driverStanding.getAttribute('points');
      const wins = driverStanding.getAttribute('wins');

      return {
        familyName,
        constructorId,
        points,
        wins
      };
    });
  } catch (error) {
    console.error('Error fetching or parsing data:', error);
  }
});

</script>

<template>
  <main class="lg:pl-72">
    <div class=" flex w-full bg-candy-red justify-center items-center h-16">
      <div class="flex w-full items-center justify-center">
        <h1 class="text-2xl text-white font-bold">F1 Wiki</h1>
      </div>
    </div>

    <!-- Constructor Standings Section -->
    <div class="flex w-full justify-center mt-6 text-white">
      <div class="flex w-4/5 bg-white rounded-2xl justify-center items-center h-16 border-2 border-candy-red">
        <h1 class="font-bold md:text-2xl text-xl text-candy-red">{{year}} Constructor Standings</h1>
      </div>
    </div>
    <div class="flex flex-wrap w-full justify-center items-center mt-6">
      <div class="flex justify-center w-full">
        <div class="grid grid-cols-5 md:w-3/5 md:mx-0 mx-4 w-full justify-center items-center bg-white h-14 border-2 border-candy-red md:px-20 px-4 rounded text-candy-red -mb-4">
          <div class="col-span-1">
              <h1 class="md:text-base text-sm">Position</h1>
          </div>
          <div class="col-span-1">
              <h1 class="md:text-base text-sm">Team</h1>
          </div>
          <div class="col-span-1">
              <h1 class="ml-8 md:text-base text-sm">Points</h1>
          </div>
          <div class="col-span-1">
              <h1 class="ml-8 md:text-base text-sm">Wins</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap w-full justify-center items-center mt-6">
      <div v-for="(constructor, index) in constructors" :key="index" class="flex w-full rounded-xl justify-center items-center">
        <div v-if="index < 20"
             :class="{'bg-blue-950': constructor.constId === 'red_bull', 'bg-ferrari-red': constructor.constId === 'ferrari', 'bg-aston-green': constructor.constId === 'aston_martin', 'bg-black': constructor.constId === 'mercedes', 'bg-alfa-red': constructor.constId === 'alfa', 'bg-alpine-light-blue': constructor.constId === 'alpine', 'bg-williams-blue': constructor.constId === 'williams', 'bg-alpha-gray': constructor.constId === 'alphatauri', 'bg-haas-red': constructor.constId === 'haas', 'bg-mclaren-orange': constructor.constId === 'mclaren'}"
             class="grid grid-cols-5 md:w-3/5 w-full md:mx-0 mx-4 justify-center items-center h-14 border border-black md:px-20 px-2 rounded text-white my-1">
          <div class="col-span-1">
            <h1 class="font-extrabold">P{{ index + 1 }}. </h1>
          </div>
          <div>
            <h1>{{constructor.name}}</h1>
          </div>
          <div>
            <h1 class="ml-8">{{constructor.constPoints}}</h1>
          </div>
          <div>
            <h1 class="ml-8">{{constructor.constWins}}</h1>
          </div>
          <div class="col-span-1">
            <div class="flex w-full justify-center items-center">
              <img :src="`./img/${constructor.constId}.png`" class="h-8 overflow-auto">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Driver Standings Section -->
    <div class="flex w-full justify-center mt-10 text-white">
      <div class="flex w-4/5 bg-white rounded-2xl justify-center items-center h-16 border-2 border-candy-red">
        <h1 class="font-bold md:text-2xl text-xl text-candy-red">{{year}} Driver Standings</h1>
      </div>
    </div>
    <div class="flex flex-wrap w-full justify-center items-center mt-6">
      <div class="flex justify-center w-full">
        <div class="grid grid-cols-5 md:w-3/5 md:mx-0 mx-4 w-full justify-center items-center bg-white h-14 border-2 border-candy-red md:px-20 px-4 rounded text-candy-red -mb-4">
          <div class="col-span-1">
            <h1 class="md:text-base text-sm">Position</h1>
          </div>
          <div class="col-span-1">
            <h1 class="md:text-base text-sm">Driver</h1>
          </div>
          <div class="col-span-1">
            <h1 class="md:text-base text-sm ml-8">Points</h1>
          </div>
          <div class="col-span-1">
            <h1 class="md:text-base text-sm ml-8">Wins</h1>
          </div>
          <div class="col-span-1">
            <div class="flex w-full justify-center items-center">
              <h1 class="md:text-base text-sm">Team</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap w-full justify-center items-center mt-6">
      <div v-for="(driver, index) in drivers" :key="driver.familyName" class="flex justify-center w-full">
        <div v-if="index < 20"
             :class="{'bg-blue-950': driver.familyName === 'Verstappen' || driver.familyName === 'Pérez', 'bg-ferrari-red': driver.familyName === 'Sainz' || driver.familyName === 'Leclerc', 'bg-aston-green': driver.familyName === 'Alonso' || driver.familyName === 'Stroll', 'bg-black': driver.familyName === 'Hamilton' || driver.familyName === 'Russell', 'bg-alfa-red': driver.familyName === 'Bottas' || driver.familyName === 'Zhou', 'bg-alpine-light-blue': driver.familyName === 'Gasly' || driver.familyName === 'Ocon', 'bg-williams-blue': driver.familyName === 'Albon' || driver.familyName === 'Sargeant', 'bg-alpha-gray': driver.familyName === 'Ricciardo' || driver.familyName === 'Tsunoda' || driver.familyName === 'Lawson', 'bg-haas-red': driver.familyName === 'Magnussen' || driver.familyName === 'Hülkenberg', 'bg-mclaren-orange': driver.familyName === 'Norris' || driver.familyName === 'Piastri'}"
             class="grid grid-cols-5 md:w-3/5 md:mx-0 mx-4 w-full justify-center items-center h-14 border border-black md:px-20 px-4 rounded text-white my-1">
          <div class="col-span-1">
            <h1 class="font-extrabold">P{{ index + 1 }}. </h1>
          </div>
          <div class="col-span-1">
            <h1>{{ driver.familyName }}</h1>
          </div>
          <div class="col-span-1">
            <h1 class="ml-8">{{ driver.points }}</h1>
          </div>
          <div class="col-span-1">
            <h1 class="ml-8">{{ driver.wins }}</h1>
          </div>
          <div class="col-span-1">
            <div class="flex w-full justify-center items-center">
              <img :src="`./img/${driver.constructorId}.png`" class="h-8 overflow-auto">
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</template>

<script>
export default {
  name: "[id]"
}
</script>

<style scoped>

</style>