<script setup>
  import { ref, onMounted} from 'vue';
  import { useRoute } from 'vue-router';

  const route = useRoute();
  const driver = ref('');
  const points = ref('');
  const wins = ref('');
  const position = ref('');

  onMounted(async () => {
    try {
      const response = await fetch(`https://danhughestest.co.uk/fetchDriver/${route.params.id}`);

      const xmlString = await response.text();

      const parser = new DOMParser();
      const xmlDoc = parser.parseFromString(xmlString, 'application/xml');

      const driverNode = xmlDoc.querySelector('DriverTable Driver');

      if (driverNode) {
        const givenName = driverNode.querySelector('GivenName').textContent;
        const familyName = driverNode.querySelector('FamilyName').textContent;
        const fullName = `${givenName} ${familyName}`;
        const dateOfBirth = driverNode.querySelector('DateOfBirth').textContent;
        const nationality = driverNode.querySelector('Nationality').textContent;
        const number = driverNode.querySelector('PermanentNumber').textContent;
        const driverId = driverNode.getAttribute('driverId');

        driver.value = {
          fullName,
          dateOfBirth,
          nationality,
          number,
          driverId,
        };

        console.log(driver);
      }
    } catch (error) {
      console.error('Error fetching or parsing data:', error);
    }

    try {
      const response = await fetch(`https://danhughestest.co.uk/fetchDriverStandings`);

      const xmlString = await response.text();

      const parser = new DOMParser();
      const xmlDoc = parser.parseFromString(xmlString, 'application/xml');

      const driverIdToSearch = driver.value.driverId;

      // Find the DriverStanding node that contains the driver with the given driverId
      const driverStandingNodes = xmlDoc.querySelectorAll("DriverStanding");
      let foundDriver = null;

      driverStandingNodes.forEach((driverStandingNode) => {
        const driverNode = driverStandingNode.querySelector('Driver');
        const driverId = driverNode.getAttribute('driverId');

        if (driverId === driverIdToSearch) {
          foundDriver = driverStandingNode;
        }
      });

      if (foundDriver) {
        points.value = foundDriver.getAttribute('points'); // Update the points
        wins.value = foundDriver.getAttribute('wins'); // Update the wins
        position.value = foundDriver.getAttribute('position'); // Update the position
      } else {
        console.log(`Driver with driverId ${driverIdToSearch} not found.`);
      }

    } catch (error) {
      console.error('Error fetching or parsing data:', error);
    }
  });

</script>

<template>
  <main class="lg:pl-72">
    <div class=" flex w-full bg-candy-red justify-center items-center h-16">
      <div class="flex w-full items-center justify-center">
        <h1 class="text-2xl text-white font-bold">F1 Wiki</h1>
      </div>
    </div>
    <!-- Driver Image and info section -->
    <div class="flex w-full justify-center items-center mt-6 text-candy-red">
      <div class="flex flex-wrap w-4/5 rounded-2xl bg-white justify-center items-center border-4 border-candy-red">
        <div class="flex w-full justify-center items-center mt-4">
          <img :src="`/img/${driver.driverId}.png`" class="md:h-40 h-24 rounded-xl border-2 border-candy-red">
        </div>
        <div class="flex w-full justify-center items-center mt-4">
          <h1 class="md:text-2xl font-bold">
            #{{driver.number}}
          </h1>
        </div>
        <div class="flex w-full justify-center items-center mb-6">
          <h1 class="md:text-5xl text-3xl font-bold">
            {{driver.fullName}}
          </h1>
        </div>
        <div class="flex flex-wrap w-full justify-center items-center mb-6">
          <div class="flex w-full justify-center items-center">
            <div class="grid grid-cols-2 gap-4">
              <div class="col-span-1">
                <div class="flex w-full justify-end items-center">
                  <h1 class="md:text-xl text-xs font-bold">
                    Driver Standings Position:
                  </h1>
                </div>
              </div>
              <div class="col-span-1">
                <div class="flex w-full justify-start items-center">
                  <h1 class="md:text-xl text-sm font-bold">
                    {{ position }}
                  </h1>
                </div>
              </div>
            </div>
          </div>
          <div class="flex w-full justify-center items-center">
            <div class="grid grid-cols-2 gap-4">
            <div class="col-span-1">
              <div class="flex w-full justify-end items-center">
                <h1 class="md:text-xl text-sm font-bold">
                  Season Wins:
                </h1>
              </div>
            </div>
            <div class="col-span-1">
              <div class="flex w-full justify-start items-center">
                <h1 class="md:text-xl text-sm font-bold">
                  {{ wins }}
                </h1>
              </div>
            </div>
          </div>
          </div>
          <div class="flex w-full justify-center items-center">
            <div class="grid grid-cols-2 gap-4">
              <div class="col-span-1">
                <div class="flex w-full justify-end items-center">
                  <h1 class="md:text-xl text-sm font-bold">
                    Championship Points:
                  </h1>
                </div>
              </div>
              <div class="col-span-1">
                <div class="flex w-full justify-start items-center">
                  <h1 class="ms:text-xl text-smfont-bold">
                    {{ points }}
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "[id]"
}
</script>

<style scoped>

</style>