<script setup>
import {onMounted, ref, watch} from "vue";

const year = new Date().getFullYear();
const drivers = ref([]);
const dataLoaded = ref(false);


onMounted(async () => {
  try {
    const response = await fetch('https://danhughestest.co.uk/fetchDrivers');
    const xmlString = await response.text();

    const parser = new DOMParser();
    const xmlDoc = parser.parseFromString(xmlString, 'application/xml');

      drivers.value = Array.from(xmlDoc.querySelectorAll('DriverTable Driver')).map((driverNode) => {
      const givenName = driverNode.querySelector('GivenName').textContent;
      const familyName = driverNode.querySelector('FamilyName').textContent;
      const fullName = `${givenName} ${familyName}`;
      const permanentNumber = driverNode.querySelector('PermanentNumber').textContent;
      const nationality = driverNode.querySelector('Nationality').textContent;
      const driverId = driverNode.getAttribute('driverId');

      return {
        fullName,
        permanentNumber,
        nationality,
        driverId
      };
    });
    dataLoaded.value = true;
  } catch (error) {
    console.error('Error fetching or parsing data:', error);
  }
});

watch(dataLoaded, () => {
  if (dataLoaded.value) {
    drivers.value.forEach(driver => {
      if (driver.driverId === 'hamilton' || driver.driverId === 'russell' ) {
        driver.bgColor = 'bg-black hover:bg-gray-800';
      } else if (driver.driverId === 'max_verstappen' || driver.driverId === 'perez') {
        driver.bgColor = 'bg-blue-950 hover:bg-blue-900';
      } else if (driver.driverId === 'sainz' || driver.driverId === 'leclerc') {
        driver.bgColor = 'bg-ferrari-red hover:bg-red-500';
      } else if (driver.driverId === 'norris' || driver.driverId === 'piastri') {
        driver.bgColor = 'bg-mclaren-orange hover:bg-orange-400';
      } else if (driver.driverId === 'gasly' || driver.driverId === 'ocon') {
        driver.bgColor = 'bg-alpine-light-blue hover:bg-blue-400';
      } else if (driver.driverId === 'kevin_magnussen' || driver.driverId === 'hulkenberg') {
        driver.bgColor = 'bg-haas-red hover:bg-red-400';
      } else if (driver.driverId === 'albon' || driver.driverId === 'sargeant') {
        driver.bgColor = 'bg-williams-blue hover:bg-blue-400';
      } else if (driver.driverId === 'bottas' || driver.driverId === 'zhou') {
        driver.bgColor = 'bg-alfa-red hover:bg-red-500';
      } else if (driver.driverId === 'alonso' || driver.driverId === 'stroll') {
        driver.bgColor = 'bg-aston-green hover:bg-green-800';
      } else if (driver.driverId === 'tsunoda' || driver.driverId === 'ricciardo' || driver.driverId === 'lawson' || driver.driverId === 'de_vries') {
        driver.bgColor = 'bg-alpha-gray hover:bg-blue-900';
      } else {
        driver.bgColor = 'bg-candy-red';
      }
    });
  }
});

</script>

<template>
  <main class="lg:pl-72">
      <div class=" flex flex-wrap w-full bg-candy-red justify-center items-center h-16">
        <div class="flex w-full items-center justify-center">
          <h1 class="text-2xl text-white font-bold">F1 Wiki</h1>
        </div>
      </div>
      <!-- Top intro section -->
      <div class="flex w-full justify-center mt-6 text-white">
        <div class="flex w-4/5 bg-white rounded-2xl justify-center items-center h-16 border-2 border-candy-red">
          <h1 class="font-bold text-2xl text-candy-red">{{year}} Formula 1 Drivers</h1>
        </div>
      </div>
      <!-- Driver Loop -->
      <div v-for="(driver, index) in drivers" :key="index" class="flex flex-wrap justify-center items-center mt-6">
        <div class="flex items-center justify-center w-4/5 pt-2">
          <div :class="`${driver.bgColor}`"
              class="grid grid-cols-5 w-full rounded-2xl p-3">
            <div class="col-span-2">
              <div class="flex w-full justify-center items-center">
                <img :src="`/img/${driver.driverId}.png`" class="md:h-56 h-24 rounded-2xl border-2 border-white">
              </div>
            </div>
            <div class="col-span-3 text-white">
              <div class="flex flex-wrap w-full items-center justify-center md:h-56">
                <div class="flex w-full justify-center items-center">
                  <h1 class="md:text-2xl">#{{ driver.permanentNumber }}</h1>
                </div>
                <div class="flex w-full justify-center items-center">
                  <NuxtLink :to="`/drivers/${driver.driverId}`">
                    <div class="flex w-full justify-center items-center underline underline-offset-8">
                      <h1 class="md:text-5xl">
                        {{ driver.fullName }}
                      </h1>
                    </div>
                  </NuxtLink>
                </div>
                <div class="flex w-full justify-center items-center">
                  <h1 class="md:text-2xl">{{ driver.nationality }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </main>
</template>

<script>
export default {
  name: "index"
}
</script>

<style scoped>

</style>