<script>

</script>

<template>
  <div>

    <!-- Static sidebar for desktop -->
    <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6">
        <div class="flex h-16 shrink-0 items-center">
          <img class="h-8 w-auto rounded-xl" src="/img/f1-logo-red.png" alt="Your Company">
        </div>
        <nav class="flex flex-1 flex-col">
          <ul role="list" class="flex flex-1 flex-col gap-y-7">
            <li>
              <ul role="list" class="-mx-2 space-y-1">
                <li>
                  <NuxtLink to="/">
                    <a href="#" class="text-candy-red hover:text-red-500 hover:bg-red-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                      <img src="/img/home.png" class="h-6">
                      Home
                    </a>
                  </NuxtLink>

                </li>
                <li>
                  <NuxtLink to="/drivers">
                    <a href="#" class="text-candy-red hover:text-red-500 hover:bg-red-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                      <img src="/img/people.png" class="h-6">
                      Drivers
                    </a>
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/constructors">
                    <a href="#" class="text-candy-red hover:text-red-500 hover:bg-red-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                      <img src="/img/tools.png" class="h-6">
                      Constructors
                    </a>
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/schedule">
                    <a href="#" class="text-candy-red hover:text-red-500 hover:bg-red-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                      <img src="/img/calendar.png" class="h-6">
                      Schedule
                    </a>
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/results">
                    <a href="#" class="text-candy-red hover:text-red-500 hover:bg-red-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                      <img src="/img/copy.png" class="h-6">
                      Results
                    </a>
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/standings">
                    <a href="#" class="text-candy-red hover:text-red-500 hover:bg-red-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                      <img src="/img/podium.png" class="h-6">
                      Standings
                    </a>
                  </NuxtLink>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="sticky top-0 z-40 flex items-center gap-x-6 px-4 py-4 shadow-sm sm:px-6 lg:hidden">
      <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden">
        <span class="sr-only">Open sidebar</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
      <div class="flex-1 text-sm font-semibold leading-6 text-gray-900">Dashboard</div>
      <a href="#">
        <span class="sr-only">Your profile</span>
        <img class="h-8 w-8 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
      </a>
    </div>



  </div>

  <slot></slot>


</template>