
<script setup>

  import { ref, onMounted } from 'vue';

  const raceName = ref('');
  const circuitName = ref('');
  const drivers = ref([]);
  const firstDriverNationality = ref('');
  const constructors = ref('');
  const circuitId = ref('');

  onMounted(async () => {
  try {
  const response = await fetch('https://danhughestest.co.uk/fetchData');
  const xmlString = await response.text();

  const parser = new DOMParser();
  const xmlDoc = parser.parseFromString(xmlString, 'application/xml');

  raceName.value = xmlDoc.querySelector('RaceName').textContent;
  circuitName.value = xmlDoc.querySelector('CircuitName').textContent;
  circuitId.value = xmlDoc.querySelector('Circuit').getAttribute('circuitId');

  drivers.value = Array.from(xmlDoc.querySelectorAll('Driver')).map((driver) => {
  const givenName = driver.querySelector('GivenName').textContent;
  const familyName = driver.querySelector('FamilyName').textContent;
  return `${givenName} ${familyName}`;
  });

  constructors.value = Array.from(xmlDoc.querySelectorAll('Constructor')).map((constructor) => {
    return constructor.querySelector('Name').textContent;
  })

  firstDriverNationality.value = xmlDoc.querySelector('Driver').querySelector('Nationality').textContent;
} catch (error) {
  console.error('Error fetching or parsing data:', error);
}
});
</script>

<template>

  <main class="lg:pl-72">
    <div class=" flex flex-wrap w-full bg-candy-red justify-center items-center h-16">
        <h1 class="text-2xl text-white font-bold">F1 Wiki</h1>
    </div>

    <!-- Large F1 logo and content to the left section -->
    <div class="grid md:grid-cols-5 gap-4 mt-4 mx-4 sm:grid-cols-3">
      <div class="col-span-3">
        <div class="flex flex-wrap w-full justify-center h-60">
          <div class="flex w-full justify-center items-center">
            <h1 class="text-2xl font-bold">Anything you could want to know about Formula 1</h1>
          </div>
          <div class="flex flex-wrap w-full justify-center items-center text-center">
            <p>Use the sidebar on the left to find out information on any of the topics. All the up to date F1 info you could want at your fingertips!</p>
          </div>
        </div>
      </div>
      <div class="md:col-span-2 col-span-3">
        <div class="flex w-full justify-center items-center h-64 overflow-hidden relative">
          <img src="/img/f1-logo-red.png" class="rounded-xl object-cover">
        </div>
      </div>
    </div>

    <!-- Latest results Section -->
    <div class="flex w-full justify-center items-center">
      <div class="flex w-5/6 justify-center items-center border-2 border-candy-red mt-6 rounded-2xl bg-gray-50">
        <div class="grid grid-cols-5 gap-4 mt-4 mx-4">
          <div class="md:col-span-3 col-span-5">
            <div class="flex flex-wrap w-full justify-center items-center mt-4">
              <div class="flex w-full justify-center items-center py-2">
                <NuxtLink to="/results">
                  <h1 class="font-bold text-2xl underline underline-offset-8">Latest Race Results | {{ raceName }} |</h1>
                </NuxtLink>
              </div>
              <div class="flex w-full justify-center items-center py-2 mt-2">
                <img src="/img/gold_trophy.png" class="h-8 mr-4">
                <h2 class="font-bold text-2xl text-yellow-400">P1 - {{ drivers[0] }} - {{ constructors[0]}}</h2>
              </div>
              <div class="flex w-full justify-center items-center py-2">
                <img src="/img/silver_trophy.png" class="h-6 mr-4">
                <h2 class="font-bold text-xl text-gray-400">P2 - {{ drivers[1] }} - {{ constructors[1]}}</h2>
              </div>
              <div class="flex w-full justify-center items-center py-2">
                <img src="/img/bronze_trophy.png" class="h-4 mr-4">
                <h2 class="font-bold text-lg text-bronze-normal">P3 - {{ drivers[2] }} - {{ constructors[2]}}</h2>
              </div>
            </div>
          </div>
          <div class="md:col-span-2 col-span-5">
            <div class="flex w-full justify-center items-center h-64 overflow-hidden relative">
              <NuxtLink to="/results">
                <img :src="`/img/${circuitId}.png`" class="w-full h-54 object-cover">
              </NuxtLink>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Drivers and constructors sections -->
    <div class="flex w-full justify-center items-center my-4">
      <div class="flex w-4/5 justify-center items-center">
        <div class="grid grid-cols-2 gap-4">
          <div class="md:col-span-1 col-span-2">
            <div class="flex flex-wrap w-full border-2 border-candy-red rounded-2xl bg-gray-50">
              <div class="flex w-full justify-center items-center my-2">
                <NuxtLink to="/drivers">
                  <h1 class="text-xl md:text-2xl underline underline-offset-8">
                    Drivers
                  </h1>
                </NuxtLink>
              </div>
              <div class="flex w-full justify-center items-center mx-4">
                <p class="md:text-base text-xs">
                  Find out about this seasons drivers!
                </p>
              </div>
              <div class="flex w-full justify-center items-center mx-4">
                <NuxtLink to="/drivers">
                  <img src="/img/max_verstappen.png" class="h-24 rounded-xl my-4">
                </NuxtLink>
              </div>
            </div>
          </div>
          <div class="md:col-span-1 col-span-2">
            <div class="flex flex-wrap w-full border-2 border-candy-red rounded-2xl bg-gray-50 justify-center items-center">
              <div class="flex w-full justify-center items-center my-2">
                <NuxtLink to="/constructors">
                  <h1 class="text-xl md:text-2xl underline underline-offset-8">
                    Constructors
                  </h1>
                </NuxtLink>
              </div>
              <div class="flex w-full justify-center items-center mx-4">
                <p class="md:text-base text-xs">
                  Find out about who this seasons constructors!
                </p>
              </div>
              <div class="flex w-full justify-center items-center mx-4">
                <NuxtLink to="/constructors">
                  <img src="/img/alpine.png" class="h-24 rounded-xl my-4">
                </NuxtLink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Results and Schedule section -->
    <div class="flex w-full justify-center items-center my-4">
      <div class="flex w-4/5 justify-center items-center">
        <div class="grid grid-cols-2 gap-4">
          <div class="md:col-span-1 col-span-2">
            <div class="flex flex-wrap w-full border-2 border-candy-red bg-gray-50 rounded-2xl">
              <div class="flex w-full justify-center items-center my-2">
                <NuxtLink to="/schedule">
                  <h1 class="text-xl md:text-2xl underline underline-offset-8">
                    Schedule
                  </h1>
                </NuxtLink>
              </div>
              <div class="flex w-full justify-center items-center mx-4">
                <p class="md:text-base text-xs">
                  Find out the remaining races this season!
                </p>
              </div>
              <div class="flex w-full justify-center items-center mx-4">
                <NuxtLink to="/schedule">
                  <img src="/img/home_calendar.png" class="h-24 rounded-xl my-4">
                </NuxtLink>
              </div>
            </div>
          </div>
          <div class="md:col-span-1 col-span-2">
            <div class="flex flex-wrap w-full border-2 border-candy-red bg-gray-50 rounded-2xl justify-center items-center">
              <div class="flex w-full justify-center items-center my-2">
                <NuxtLink to="/results">
                  <h1 class="text-xl md:text-2xl underline underline-offset-8">
                    Results
                  </h1>
                </NuxtLink>
              </div>
              <div class="flex w-full justify-center items-center mx-4">
                <p class="md:text-base text-xs">
                  Find out the race results so far!
                </p>
              </div>
              <div class="flex w-full justify-center items-center mx-4">
                <NuxtLink to="/results">
                  <img src="/img/home_results.png" class="h-24 rounded-xl my-4">
                </NuxtLink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Standings section -->
    <div class="flex w-full justify-center items-center my-4">
      <div class="flex w-4/5 justify-center items-center">
        <div class="grid grid-cols-2 gap-4">
          <div class="col-span-2">
            <div class="flex flex-wrap w-full border-2 border-candy-red rounded-2xl bg-gray-50">
              <div class="flex w-full justify-center items-center my-2">
                <NuxtLink to="/standings">
                  <h1 class="md:text-2xl text-xl underline underline-offset-8">
                    Standings
                  </h1>
                </NuxtLink>
              </div>
              <div class="flex w-full justify-center items-center mx-4">
                <p class="md:text-base text-xs">
                  Find out the current standings, who will end up on top!
                </p>
              </div>
              <div class="flex w-full justify-center items-center mx-4">
                <NuxtLink to="/standings">
                  <img src="/img/home_standings.png" class="h-32 rounded-xl my-4">
                </NuxtLink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>


</template>